@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Space Mono', monospace;
    max-width:1500px;
    margin: 0px;
    padding: 0px;
}
section { 
    /* background-color: cyan; */
    max-width: 1000px; 
    margin: 10px auto; 
    padding: 0 20px 200px 20px; 
    position:relative;
    top: 125px;
    z-index: 1;
}
h1{
    font-size: 2em;
    padding: 5px;
    color: navy;
}
h2{
    font-size: 1.5em;
    padding: 5px;
    color: navy;
}
p{
    padding:5px;
    line-height: 1.5rem;
}
ul{
    line-height: 1.5rem;
}
/* img:hover{
    outline: 1px solid gold;
} */

#abt{
    display: flex;
}
#abt img{
    width: 20vw;
}
#abt div{
    padding: 10px;
}


nav{
    background: white;
    outline: 1px solid black;
    width:100vw;
    height: 43px;
    /* height: 60vh; */
    top: 0vh;
    transition: 0.2s;
    position: fixed;
    display: grid;
    grid: 43px 1fr / 1fr;
    padding: 0;
    margin: 0;
    z-index: 3;
}
nav ul{
    /* font-size: 1em; */
    padding: 0em 0.5em;
    list-style: circle;
}
nav:hover{
    top:0;
    grid: 43px 1fr / 1fr;
}
nav a:link,a:visited{
    color: navy;
    text-decoration: none;
}
nav a:hover{
    color:white;
    background-color: navy;
    text-decoration: none;
}
nav a:active{
    background-color: gold;
    text-decoration: line-through;
}
#menu{
    background-color: white;
    margin: 0;
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#menu ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 5px;
    list-style: none;
}
#menu ul li{
    font-size: 1.5rem;
    margin: 0px;
    padding: 10px;
}
#menu ul li:first-child{
    margin-right: auto;
}
#menu-list{
    background-color: white;
    text-align: left;
    margin: 0 2% 2% 2%;
    overflow-x: hidden;
    overflow-y: hidden;
    columns: 4;
    column-fill: auto;
}
#menu-list h1{
    font-size: 1.5rem;
    padding: 0.2em;
    line-height: 1.5rem;
}
#menu-list ol{
    padding-left: 3rem;
    font-size: 1.2rem;
    list-style:decimal;
    line-height:1.5rem;
}
#portfolio-list,#archive-list{
    display: none;
}

.portfolio-page img{
    width: 100%;
}
.portfolio-page img:hover{
    outline: 2px solid gold;
}
.portfolio-page img:active{
    border-radius: 50%;
    /* transition: 0.2s; */
}
.portfolio-page figcaption{
    text-align: center;
    padding: 0.5em;
}

.work-page a:link, section a:visited{
    color:gold;
    text-decoration: underline;
}
.work-page a:hover{
    background-color: gold;
    color:white;
    text-decoration: none;
}
.topbar img{
    width: 1000px;
    margin-bottom: 50px;
    transition: 2s;
}
.topbar img:hover{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    transition: 2s;
}
.portfolio-page{
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr; 
    gap: 3%;
}

::selection{
    background-color: gold;
}
@media only screen and (max-width: 1000px){
    body{
        background-color: turquoise;
    }
    
    .topbar img{
        width: 95vw;
    }
    #menu ul li{
        font-size: 2.4vw;
    }
    #menu-list{
        columns: 3;
    }
    #menu-list h1{
        font-size: 2.4vw;
    }
    #menu-list ol{
        font-size: 1.95vw;
    }
}
@media only screen and (max-width: 700px){
    body{
        background-color: green;
    }
    #menu ul li{
        font-size: 1rem;
    }
    #menu-list h1{
        font-size: 1rem;
    }
    #menu-list ol{
        font-size: 0.9rem;
    }
}
