@font-face {
    font-family: Handjet;
    src: url("./assets/fonts/HandjetVFWeb-All.woff2") format('woff2');
}

body{
    font-family: "PP Mori";
    color: var(--text);
    background-color: var(--background);
    line-height: normal;
}
main{
    padding: 4rem;
    max-width: 1024px;
    /* min-height: calc(100vh - 12rem); */
    /* background-color: cornflowerblue; */
    margin: 0 auto;
}
li{
    margin: 0.5rem 0;
}
hr{
    margin: 20px 2px;
    color: var(--text);
}
img{
    width: 100%;
}
h1{
    font-family: "PP NeueBit";
    font-size: 3.5rem;
    text-transform: uppercase;
}
h2{
    font-size: 1.5rem;
    margin: 1rem 0;
}
p{
    margin: 1rem 0;
}
.circle-list li{
    list-style: circle;
}
a:link,a:visited{
    color: var(--accent);
    text-decoration: none;
}
a:hover{
    color: var(--accent);
    text-decoration: underline wavy;
}


#nav, #footer{
    /* font-family: "Handjet"; */
    font-family: "PP NeueBit";
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
#nav li, #footer li{
    margin: 0.5rem 1.5rem;
}
#nav{
    font-size: 1.8rem;
    text-transform: uppercase;
    position: fixed;
    height: 2.75rem;
    /* outline: 1px solid var(--text); */
}
#footer{
    font-size: 1.3rem;
}
#nav a:link, #nav a:visited{
    color: var(--text);
}
#nav a:hover{
    color: var(--accent);
}


#home-page, #about-page{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    /* background-color: red; */
    padding: 20vh 10vw;
    min-height: 60vh;
}
#home-page h1{
    margin: 2rem 1rem;
    font-size: 2rem;
}
#home-img{
    margin: auto;
}


#work-page{
    font-family: "PP NeueBit";
    font-size: 1.8rem;
    text-transform: uppercase;
}
.tags-container{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.tag{
    border: 2px dotted var(--accent);
    border-radius: 10px;
    display: inline;
    padding: 0.2em 0.3em;
    margin-right: 0.5rem;
}
#work-root{
    width: 100%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 2rem;
}
/* .work-preview img{
    
} */
.work-tags{
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
}

/* #about{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
} */
#about figure{
    margin: 0 auto auto auto;
}


.work{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
    padding: 2.8rem 0vw;
    min-height: 80vh;
    /* position: relative; */
}
#description{
    padding-top: 2.8rem;
}
#content h1{
    padding-top: 2.8rem;
}
#toc{
    height: 100%;
}
#toc ul{
    padding-top: 2.8rem;
    text-align: right;
    position: sticky;
    top: 2.8rem;
}
#toc li{
    padding: 0.2rem 0;
}

.flex{
    display: flex;

}
.gallery{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

::selection{
    background-color: gold;
    color: #262626;
}

@media (prefers-color-scheme: dark){
    :root{
        --background: #283077;
        --main: #283077;
        --text: white;
        --accent: gold;
    }
}
@media (prefers-color-scheme: light){
    :root{
        --background: #F1F0E7;
        --main: #F1F0E7;
        --text: #262626;
        --accent: #283077;
    }
}