#home h2 {
    font-size: 24px;
}
#home h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--accent);
}
#home {
    /* margin-top: var(--navHeight); */
    text-align: center;
    padding: 80px 0px 0px 0px;
}
#nameContainer {
    display: flex;
    justify-content: center;
}
#name {
    font-size: 140px;
    font-family: "PP Mondwest";
}
#home p {
    margin-top: calc(100vh - 400px);
}

#about {
    grid: 1fr / 0.5fr 0.5fr;
    gap: 2rem;
    display: grid;
    /* background-color: red; */
    /* padding: 15vh 10vw 0vh 10vw; */
    padding: 40px;
    margin-bottom: 40px;
    min-height: 75vh;
    overflow: hidden;
}
#about h1 {
    font-size: 64px;
}
#about h1 span {
    font-size: 50px;
}
#reroll {
    font-size: 1rem;
    height: fit-content;
    background-color: var(--background);
    border: none;
    color: var(--accent);
}
#reroll::before {
    content: "⟲";
}
#reroll:hover {
    color: var(--oppositeBg);
    /* background-color: var(--background); */
    /* border: none; */
}
#reroll:hover::before {
    content: "⤿";
}
.darr {
    position: relative;
    animation-name: arrowBounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes arrowBounce {
    0% {
        top: -2px;
    }
    40% {
        top: 2px;
    }
    100% {
        top: -2px;
    }
}

#work-page {
    padding-top: 32px;
}

.tags-container {
    margin-bottom: 16px;
}
.action-link {
    background-color: var(--accent);
    color: var(--background);
    text-decoration: none;
    font-family: "PP Neuebit";
    /* margin-bottom: 40px; */
    font-size: 32px;
    padding: 12px;
    padding-bottom: 9px;
    border: 1px solid var(--background);
    border-radius: 12px;
    text-transform: uppercase;
    display: inline;
    transition: 0.2s;
}
.action-link:hover {
    background-color: var(--background);
    color: var(--accent);
    border-color: var(--accent);
}

#about h1 {
    font-family: "PP Mondwest";
    text-transform: capitalize;
    margin: 16px 0px;
    /* font-weight: bold; */
}
#about section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about section :nth-last-child(2) {
    margin-bottom: auto;
}
#about section p {
    padding: 4px;
}
#note {
    font-size: 12px;
    color: var(--accent);
}
