@font-face {
    font-family: Handjet;
    src: url("./assets/fonts/HandjetVFWeb-All.woff2") format('woff2');
}

body{
    font-family: "PP Mori";
    color: var(--text);
    background-color: var(--background);
    line-height: normal;
}
main{
    padding: 4rem;
    max-width: 1024px;
    /* min-height: calc(100vh - 12rem); */
    /* background-color: cornflowerblue; */
    margin: 0 auto;
}
ul{
    font-size: 1.1rem;
    /* line-height: 1.6rem; */
}
li{
    margin: 0.5rem 0;
}
hr{
    margin: 20px 2px;
    color: var(--text);
}
img{
    width: 100%;
    border-radius: 2px;
}
figure{
    margin-bottom: 1rem;
}
video{
    width: 100%;
}
h1{
    font-family: "PP NeueBit";
    font-size: 3.5rem;
    text-transform: uppercase;
}
h2{
    font-size: 1.5rem;
    margin: 1rem 0;
}
p{
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.6rem;
}
.italics{
    font-style: italic;
}
.circle-list li{
    list-style: circle;
}
.numbered li{
    list-style: decimal;
    margin-left: 2rem;
    line-height: 1.6rem;
}
a:link,a:visited{
    color: var(--accent);
    text-decoration: none;
}
a:hover{
    color: var(--accent);
    text-decoration: underline wavy;
}
/* a:hover::after{
    content:" ↗";
} */
a:hover img{
    outline: 2px dashed var(--accent);
    border-radius: 10px;
    /* -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg); */
    /* transition: 0.5s; */
}


#nav, #footer{
    /* font-family: "Handjet"; */
    font-family: "PP NeueBit";
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
#nav li, #footer li{
    margin: 0.5rem 1.5rem;
}
#nav{
    font-size: 1.8rem;
    text-transform: uppercase;
    position: fixed;
    height: 2.75rem;
    /* outline: 1px solid var(--text); */
}
#footer{
    font-size: 1.3rem;
}
#nav a:link, #nav a:visited{
    color: var(--text);
}
#nav a:hover{
    color: var(--accent);
}


#home-page, #about-page{
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 2rem;
    /* background-color: red; */
    padding: 20vh 10vw;
    min-height: 60vh;
}
#home-page h1{
    margin: 2rem 1rem;
    font-size: 2rem;
}
#home-img{
    margin: auto;
}


#work-page{
    font-family: "PP NeueBit";
    font-size: 2rem;
    text-transform: uppercase;
}
#work-root{
    width: 100%;
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    gap: 2rem;
}
.tags-container{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding-inline-start: 0.2rem;
}
.tag{
    font-family: "PP NeueBit";
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 1px dashed var(--accent);
    border-radius: 5px;
    display: flex;
    gap: 0.5rem;
    padding: 0.3rem 0.4rem 0.1rem 0.4rem;
    margin: 0.2rem;
}
#about figure{
    margin: 0 auto auto auto;
}
.tag-icon{
    /* background-color: lightskyblue; */
    width: 20px;
    height: 20px;
    display: inline;
}

.work{
    display: grid;
    grid: 1fr / 0.22fr 0.78fr;
    gap: 2rem;
    padding: 2.8rem 0vw;
    min-height: 80vh;
    /* position: relative; */
}
#description{
    padding-top: 2.8rem;
}
#content h1{
    padding-top: 2.8rem;
}
#toc{
    height: 100%;
    margin-top: 2.8rem;
    text-align: right;
}
#toc ul{
    top: 2.8rem;
    position: sticky;
}
#toc li{
    padding: 0.2rem 0;
}
#toc a:hover{
    text-decoration: none;
}
/* #toc a:hover::before{
    content: "→ ";
} */
#toc a:hover::after{
    content: "←";
    color: var(--background);
}
#header-img:hover{
    transform: rotate(5deg);
}


.flex{
    display: flex;
    /* margin: 1rem 0; */
}
figcaption{
    margin: 0.2rem;
    /* opacity: 75%; */
}
.gallery{
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}
.two{
    grid: 1fr / 1fr 1fr;
}
.three{
    grid: 1fr / 1fr 1fr 1fr;
}

::selection{
    background-color: gold;
    color: #262626;
}

@media (prefers-color-scheme: dark){
    :root{
        --background: #283077;
        --main: #283077;
        --text: white;
        --accent: gold;
    }
}
@media (prefers-color-scheme: light){
    :root{
        --background: #F1F0E7;
        --main: #F1F0E7;
        --text: #262626;
        --accent: cornflowerblue;
    }
}