@font-face {
    font-family: PP NeueBit;
    src: url("../assets/fonts/PPNeueBit-Bold.otf");
}

body{
    font-family: "PP Mori";
    color: var(--text);
    background-color: var(--background);
    line-height: normal;
    background-image: var(--backgroundImg);
    /* background-blend-mode: luminosity; */
}
main{
    padding: 4rem;
    max-width: 1024px;
    /* min-height: calc(100vh - 12rem); */
    /* background-color: cornflowerblue; */
    margin: 0 auto;
}
ul{
    font-size: 1.1rem;
    /* line-height: 1.6rem; */
}
li{
    margin: 0.5rem 1em;
}
hr{
    margin: 20px 2px;
    color: var(--text);
}
img{
    width: 100%;
    border-radius: 2px;
    box-shadow: var(--shadow);
}
figure{
    margin-bottom: 1rem;
}
video{
    width: 100%;
}
h1{
    font-family: var(--pixelFont);
    font-size: var(--h1Size);
    font-weight: var(--pixelFontWeight);
    text-transform: uppercase;
}
h2{
    font-size: 1.5rem;
    margin: 1rem 0;
}
h3{
    font-family: var(--pixelFont);
    font-size: 2rem;
    text-transform: uppercase;
}
p{
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.6rem;
}
.italics{
    font-style: italic;
}
.circle-list li{
    /* list-style: circle; */
    list-style-type: "✿ " ;
}
.numbered li{
    list-style: decimal;
    margin-left: 2rem;
    line-height: 1.6rem;
}
a:link,a:visited{
    color: var(--accent);
    text-decoration: none;
}
a:hover{
    color: var(--accent);
    text-decoration: underline wavy;
}
/* a:hover::after{
    content:" ↗";
} */
a:hover img{
    /* outline: 2px dashed var(--accent);
    border-radius: 10px; */
    transform: var(--imgHover);
    -webkit-transform: var(--imgHover);
    -moz-transform: var(--imgHover);
    -o-transform: var(--imgHover);
    filter: var(--imgHover);
}
button{
    /* background-color: var(--background); */
    background-color: rgba(0,0,0,0);
    border: none;
    color: var(--text);
    padding: none;
    margin: none;
    font-size: inherit;
    font-family: inherit;
}
button:hover{
    cursor: pointer;
    background-color: var(--oppositeBg);
    color: var(--oppositeText);
}

#nav, #footer{
    /* font-family: "Handjet"; */
    font-family: var(--pixelFont);
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    z-index: 2;
    background-image: var(--backgroundImg);
    /* background-blend-mode: luminosity; */
}
#nav li, #footer li{
    margin: 0.5rem 1.5rem;
}
#nav{
    font-size: 1.8rem;
    text-transform: uppercase;
    /* position: fixed; */
    top: 0;
    height: 2.75rem;
    /* outline: 1px solid var(--text); */
}
#footer{
    font-size: 1.3rem;
    bottom: 0;
    /* background-color: red; */
}
#nav a:link, #nav a:visited{
    color: var(--text);
    text-decoration: none;
}
#nav a:hover, #nav a:hover .flower{
    color: var(--accent);
    visibility: visible;
}


#home-page, #about-page{
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 2rem;
    /* background-color: red; */
    padding: 20vh 10vw;
    min-height: 60vh;
}
#home-page h1{
    margin: 2rem 1rem;
    font-size: 2rem;
}
#playground{
    width: 100%;
    height: 100%;
}
#playgroundText{
    text-align: right;
}
#playgroundText span{
    position: absolute;
    animation-name: bobbing;
    animation-duration: 0.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes bobbing {
    0% {transform: translateY(-2px)}
    100% {transform: translateY(2px)}
}
#playground .draggable{
    /* width: 200px; */
    position: fixed;
    right: 10vw;
    opacity: 75%;
}
#playground .draggable:hover{
    cursor: move;
    opacity: 100%;
}

#work-page{
    font-family: var(--pixelFont);
    font-size: 2rem;
    text-transform: uppercase;
}
#work-root{
    width: 100%;
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    gap: 2rem;
}
.tags-container{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding-inline-start: 0.2rem;
}
.tag{
    font-family: var(--pixelFont);
    font-size: 1.5rem;
    text-transform: uppercase;
    border: var(--tagOutline);
    border-radius: 5px;
    display: flex;
    gap: 0.5rem;
    padding: 0.3rem 0.4rem 0.1rem 0.4rem;
    margin: 0.2rem;
    background-color: var(--tagBg);
    box-shadow: var(--shadow);
}
#about figure{
    margin: 0 auto 0 auto;
}
.profile-pic{
    width: 100%;
    height: 100%;
}
.profile-pic img{
    position: sticky;
    top:2.8rem;
}
.profile-pic img:hover{
    content: url('../assets/imgs/expcam_preview_pixel.png');
    border-radius: 2px;
}
#defaultCanvas0{
    /* top: 20vh;
    position: sticky; */
    grid-area: 1 / 2;
}
#about-bio span, .flower{
    font-size: 0.75em;
}
.flower{
    visibility: hidden;
    color: var(--accent);

    /* color: var(--background); */
}
.proficiencyList{
    display: grid;
    grid: 1fr / 1fr 0.4fr;
}
.proficiencyList :nth-child(even){
    text-align: right;
}
.proficiencyList span{
    color: grey;
}

.tag-icon{
    /* background-color: lightskyblue; */
    width: 20px;
    height: 20px;
    display: inline;
    box-shadow: none;
}

.work{
    display: grid;
    grid: 1fr / 0.22fr 0.78fr;
    gap: 2rem;
    padding: 2.8rem 0vw;
    min-height: 80vh;
    /* position: relative; */
}
#description{
    padding-top: 2.8rem;
}
#content h1{
    padding-top: 2.8rem;
}
#toc{
    height: 100%;
    margin-top: 2.8rem;
    text-align: right;
}
#toc ul{
    top: 2.8rem;
    position: sticky;
}
#toc li{
    padding: 0.2rem 0;
}
#toc a:hover{
    text-decoration: none;
}
#toc a:hover::after{
    content: " ✿";
    color: var(--accent);
}
#header-img:hover{
    transform: rotate(5deg);
}


.flex{
    display: flex;
    /* margin: 1rem 0; */
}
figcaption{
    margin: 0.2rem;
    /* opacity: 75%; */
}
.gallery{
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}
.two{
    grid: 1fr / 1fr 1fr;
}
.three{
    grid: 1fr / 1fr 1fr 1fr;
}

.wiggling{
    animation-name: wiggle;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(1deg)}
    100% {transform: rotate(-1deg)}
}

::selection{
    background-color: var(--selection);
    color: #262626;
}

:root{
    --pixelFont: "PP NeueBit";
    --h1Size: 3.5rem;
    --pixelFontWeight: 400;
}

:root[color-mode="pixel"]{
    --background: #283077;
    --main: #283077;
    --text: white;
    --accent: gold;
    --selection: var(--accent);
    --backgroundImg: none;
    --oppositeBg: #F1F0E7;
    --oppositeText: #262626;
    --tagOutline: 1px dashed var(--accent);
    /* --tagTransform: none; */
    --imgHover: blur(4px);
    --blendMode: normal;
}
:root[color-mode="paper"]{
    --background: #F1F0E7;
    --main: #F1F0E7;
    --text: #262626;
    --accent: slategrey;
    --selection: silver;
    --backgroundImg: url(../assets/imgs/paperbg2.png);
    --oppositeBg: #283077;
    --oppositeText: white;
    --tagBg: white;
    --tagOutline: 1px solid var(--tagBg);
    --shadow: 1px 1px 1px rgba(38,38,38,0.25);
    /* --tagTransform: transform() */
    --imgHover: rotate(5deg);
    --blendMode: luminosity;
}